@charset "UTF-8";

html {
  font-size: 100%;
}
header { 
  background-color: #8B614F;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.17em; /* フォントサイズを1.17emに設定 */
}

header .logo img {
  width: 90px; /* 画像の幅を90pxに設定 */
  height: 90px; /* 画像の高さを90pxに設定 */
}

nav {
  text-align: center;
  margin-right: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

nav ul li.current a {
  color: #F33135;
}

nav ul li a:hover {
  color: #41b0b2;
}

body {
  background-color: #E5CEC0;
  font-family: 'Catamaran','Noto Sans JP', sans-serif;
  line-height: 2.0;
  color: #2c2c2c;
 
}
h2 {
  font-size: 230%;
  color: #2c2c2c;
  text-align: left;
  margin-left: 150px; 
}
.innerWrap {
  width: 1240px;
  margin: 0 auto;
  padding: 80px 20px 0;
}
.resizeimage img {
  width: 100%;
}
p {
  margin-left: 50px; 
    }
h1 {
  margin-left: 50px; 
    }
img {
  margin-left: 50px; 
}

p.logo img {
  width: 31px;
}

header { 
  background-color: #8B614F;
  width: 100%; /* ヘッダーの幅を全画面に設定 */
  padding: 20px 0; /* ヘッダーの上下に余白を追加 */
}

header table {
  margin: 0 auto; /* テーブルを中央揃え */
  width: 80%; /* テーブルの幅を調整 */
}
