@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #E5CEC0;
  font-family: 'Catamaran','Noto Sans JP', sans-serif;
  line-height: 2.0;
  color: #2c2c2c;
}

header { 
  background-color: #8B614F;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 90px;
  height: 90px;
}

nav {
  text-align: center;
  margin-right: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

nav ul li.current a {
  color: #F33135;
}

nav ul li a:hover {
  color: #41b0b2;
}

h2 {
  font-size: 230%;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 20px;
}

.innerWrap {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 20px 0;
  text-align: center;
}

.resizeimage img {
  width: 100%;
}

p, h1, img {
  margin-left: 0;
  text-align: center;
}

p.logo img {
  width: 31px;
}

footer {
  text-align: center;
  margin: 20px 0;  
  background-color: #8B614F;
  width: 100%;
  padding: 10px 0;
 
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .innerWrap {
    padding: 40px 10px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
